.divs{
    background-image: url("https://images.tokopedia.net/img/cache/100/ndZFpx/2022/12/21/a14d9d4e-8b3d-4345-9a15-3c66a921b2f2.jpg");
    margin: 5px;
    width: 216px;
    height: 64px;
    outline: 0px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 6px 8px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}
.divs2{
    background-image: url("https://images.tokopedia.net/img/cache/100/attachment/2019/10/8/40768394/40768394_1629133d-4c08-467c-aed0-bd8e82c7ea40.jpg");
    margin: 5px;
    width: 216px;
    height: 64px;
    outline: 0px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 6px 8px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}
.divs3{
    background-image: url("https://images.tokopedia.net/img/cache/100/attachment/2019/11/7/75545163/75545163_f6ac6050-3872-48e8-b445-02a33e346061.jpg");
    margin: 5px;
    width: 216px;
    height: 64px;
    outline: 0px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 6px 8px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}
.divs4{
    background-image: url("https://images.tokopedia.net/img/cache/100/attachment/2019/10/23/40768394/40768394_7c9ad641-8a48-4b63-a4cc-cae37bbcaae1.jpg");
    margin: 5px;
    width: 216px;
    height: 64px;
    outline: 0px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 6px 8px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}
.divs5{
    background-image: url("https://images.tokopedia.net/img/cache/100/ndZFpx/2022/12/21/a14d9d4e-8b3d-4345-9a15-3c66a921b2f2.jpg");
    margin: 5px;
    width: 216px;
    height: 64px;
    outline: 0px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 6px 8px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}